/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================== END OF RESET ============================== */

*, *:before, *:after {box-sizing:border-box}


/* ============================== STYLING ============================== */


body {
    width: 100vw;
    height: 100vh;
    background-color:rgba(26,26,26,0.6);
    backdrop-filter: blur(1.5px);
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profilePic {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-top: 5rem;
}

.profilePic-img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    animation: moveInLeft 1s;
}

@keyframes moveInLeft{
    0%{opacity:0;transform:translateX(-10rem)
    }
    100%{opacity:1;transform:translateX(0)
    }
}

.socialLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 15px;
}

.socialMedia1 {
    padding-left:15px;
}

a {text-decoration: none}

.button{
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:2.4rem;
    padding:0.8rem 3rem;
    width:25rem;
    height:4rem;
    background-color:rgba(26,26,26,0.6);
    border:2px solid rgb(189, 29, 43);
    border-radius:2px;
    color: rgba(255, 255, 255, 0.7);
    font-size:2rem;
    font-weight:500;
    cursor:pointer;
    animation:moveInBottom 0.7s 1.2s;
    animation-fill-mode:backwards;
    animation-timing-function:cubic-bezier(0.21, 1.11, 0.81, 0.99)
}

.button:before,.button:after{
    content:'';
    position:absolute;
    top:-2px;left:-2px;
    width:25rem;
    height:4rem;
    border-radius:3px;
    border:2px solid rgb(189, 29, 43);
    filter:blur(0);
    transform-origin:50%;
    z-index:-1;
}

.button:hover{
    transform:translateY(-2px)}
    
.button:hover:before,.button:hover:after{
    border-color:transparent;
    filter:blur(2px);
    transform:scaleX(1.3) scaleY(2.2);
    transition:800ms transform ease, 1900ms blur ease, 700ms border-color ease;
    pointer-events:none
}

.button:hover:after{transition-delay:150ms}

.button:active{transform:translateY(-1px)}

@keyframes moveInBottom{
    0%{opacity:0;transform:translateY(4rem)
    }
    100%{opacity:1;transform:translateY(0)}
}

@media (max-width: 950px) {
    .button{
        width:20rem;
        height:3.5rem;
        font-size:1.8rem;
    }
    
    .button:before,.button:after{
        width:20rem;
        height:3.5rem;
    }
}

@media (max-width: 700px) {
    .button{
        width:12rem;
        height:2.8rem;
        font-size:1.2rem;
    }
    
    .button:before,.button:after{
        width:12rem;
        height:2.8rem;
    }
}

@media (max-width: 460px) {
    .profilePic {
        height: 250px;
        margin-top: 3rem;
    }

    .profilePic-img {backdrop-filter: saturate(10%)}

    .button{
        width:9rem;
        height:2.8rem;
        font-size:1.2rem;
    }
    
    .button:before,.button:after{
        width:9rem;
        height:2.8rem;
    }
}

@media (max-width: 350px) {
    .button{
        width:8rem;
        height:2.5rem;
        font-size:1.1rem;
    }
    
    .button:before,.button:after{
        width:8rem;
        height:2.5rem;
    }
}