@tailwind base;
@tailwind components;
@tailwind utilities;

/************ CUSTOM FONT ************/

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
  font-display: swap;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
  font-display: swap;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
  font-display: swap;
}

/*****************************************/

@layer base {
  body {
    font-family: "Centra", sans-serif;
  }
}